.calc {
    width: 300px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    .display {
        width: 90%;
        margin-bottom: 10px;
        padding: 10px;
        font-size: 20px;
    }

    .keys {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;

        .key-igual {
            background-color: #FEAE34;

            &:hover {
                background-color: #E5942B;
            }
        }

        & button {
            padding: 10px;
            font-size: 18px;
            border: none;
            border-radius: 5px;
            background-color: #ddd;
            cursor: default;

            &:hover {
                background-color: #ccc;
            }
        }
    }
}