@import url('calc.css');

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;   
}

.container {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;

    & h3 {
        & a {
            color: #333;
            text-decoration: none;

            &:hover {
                color: #068ddc;
            }
        }
    }
}
